body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
}